.header {
-webkit-background-clip: text;
align-items : center;
padding-top : 300px; 
text-align : center;
padding-bottom : 20px;
text{
  -webkit-text-stroke-width: 2.0296523571014404;
-webkit-text-stroke-color: rgba(0, 0, 0, 0.40);
font-family: Questrial;
font-size: 86.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.587px;
};

  }
  
  .title {
    font-size: 86.24px;
    font-weight: bold;
    color: #4a4a8a;
    transform: translateY(-100px);
  
  }
  
  .subtitle {
    margin-top: -50px;
    font-size: 21px;
    color: #6a6a6a;
    transform: translateY(-100px);
  
  }