.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-description {
  font-size: 16px;
  color: #6a6a6a;
  margin-bottom: 100px;
}
.score-analysis {
  padding: 20px 20px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 100px;
}

.score-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 400px;
  transform: translateY(-120px);

}

.score-button:hover {
  background-color: #4a4a8a;
}