/* <button classs = "PB* button">문구</button> */
.PBL.button:hover,
.PBR.button:hover,
.PBS.button:hover {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--hover, linear-gradient(180deg, #613fa4 0%, #321a61 100%));
}

.PBL.button:active,
.PBR.button:active,
.PBS.button:active {
  border-radius: 5px;
  border-radius: 5px;
  background: var(
    --pressed,
    linear-gradient(143deg, #000068 10.03%, #6f3da1 91.86%),
    url(<path-to-image>) lightgray 0% 0% / 62.00000047683716px
      62.00000047683716px repeat
  );
}

.PBL.button:disabled,
.PBR.button:disabled,
.PBS.button:disabled {
  border-radius: 5px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
}

.PBL.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
  /* Button L */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--White, #fff);
}

.PBR.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
  color: var(--White, #fff);

  /* Button R */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.PBS.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
  color: var(--White, #fff);

  /* Button S */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
