/* <Link to="/" className="PB*B button">문구</Link>
*대신 L, R, S사이즈 별로 원하는 것 적용 */
p {
  font-family: Pretendard, Arial, sans-serif;
}
a {
  text-decoration: none;
}

.PBLB.button {
  width: 200px;
  height: 60px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border-radius: 5px;
  background: var(
    --unnamed,
    linear-gradient(180deg, #377deb 0%, #235cd9 87.5%)
  ); /* Button L */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--White, #fff);
}

.PBRB.button {
  width: 180px;
  height: 54px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
  color: var(--White, #fff);

  /* Button R */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.PBS.button {
  width: 130px;
  height: 49px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
  color: var(--White, #fff);

  /* Button S */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PBSB.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
}

.PBLB.button:hover,
.PBRB.button:hover,
.PBSB.button:hover {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(180deg, #225ad4 29.66%, #1a42aa 88.98%);
}

.PBLB.button:active,
.PBRB.button:active,
.PBSB.button:active {
  border-radius: 5px;
  background: linear-gradient(143deg, #0e23a9 10.03%, #2660db 91.86%);
}

.PBLB.button:disabled,
.PBRB.button:disabled,
.PBSB.button:disabled {
  border-radius: 5px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    linear-gradient(90deg, #6f3da1 0%, #7185e1 100%);
}
