.button:hover {
    border-radius: 5px;
    border: 1px solid #7185e1;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 100%
      ),
      linear-gradient(90deg, #e9ebf8 0%, #cfbee0 100%);
  }
  
  .button:active {
    border-radius: 5px;
    border: 1px solid #7185e1;
    background: linear-gradient(90deg, #e9ebf8 0%, #cfbee0 100%);
  }
  
  .button:disabled {
    border-radius: 5px;
    border: 1px solid #cfbee0;
    background: var(--White, #fff);
  }
  
  .SBL {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #7185e1;
    background: var(--White, #fff);
    color: var(--violet, #6f3da1);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .SBR {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #7185e1;
    background: var(--White, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .SBS {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #7185e1;
    background: var(--White, #fff);
    color: var(--violet, #6f3da1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .p {
    color: var(--violet, #6f3da1);
    font-family: Pretendard;
  }