/* <button classs = "SB* button">문구</button> 
*대신 L, R, S사이즈 별로 원하는 것 적용 */
.SBL.button:hover,
.SBR.button:hover,
.SBS.button:hober {
  border-radius: 5px;
  border: 1px solid #7185e1;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    linear-gradient(90deg, #e9ebf8 0%, #cfbee0 100%);
}

.SBL.button:active,
.SBR.button:active,
.SBS.button:active {
  border-radius: 5px;
  border: 1px solid #7185e1;
  background: linear-gradient(90deg, #e9ebf8 0%, #cfbee0 100%);
}

.SBL.button:disabled,
.SBR.button:disabled,
.SBS.button:disabled {
  border-radius: 5px;
  border: 1px solid #cfbee0;
  background: var(--White, #fff);
}

.SBL.button {
  width: 200px;
  height: 60px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #7185e1;
  background: var(--White, #fff);
  color: var(--violet, #6f3da1);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SBR.button {
  width: 180px;
  height: 54px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #7185e1;
  background: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SBS.button {
  width: 130px;
  height: 49px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #7185e1;
  background: var(--White, #fff);
  color: var(--violet, #6f3da1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p {
  color: var(--violet, #6f3da1);
  font-family: Pretendard;
}
