/* <button classs = "TBB* button">문구</button> */

.TBBL.button:hover,
.TBBR.button:hover,
.TBBS.button:hover {
  border-radius: 5px;
  border: 1px solid var(--black, #190828);
  background: var(--gray-white, #f9f8fa);
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--balck, #190828);
}

.TBBL.button:active,
.TBBR.button:active,
.TBBS.button:active {
  border-radius: 5px;
  border: 1px solid var(--black, #190828);
  background: var(--White, #fff);
}

.TBBL.button:disabled,
.TBBR.button:disabled,
.TBBS.button:disabled {
  border-radius: 5px;
  border: 1px solid var(--gray-regular-line, #c9c3ce);
  background: var(--gray-light, #f7f7f9);
  color: var(--gray-text2, #b6afbe);
}

.TBBL.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--black, #190828);
  color: var(--White, #fff);

  /* Button L */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TBBR.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--black, #190828);
  color: var(--White, #fff);

  /* Button R */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TBBS.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--black, #190828);
  color: var(--White, #fff);

  /* Button S */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p {
  font: Pretendard;
}
