/* <Link to="/" className="TWB* button">문구</Link>
*대신 L, R, S사이즈 별로 원하는 것 적용 */

p {
  font-family: Pretendard, Arial, sans-serif;
}
a {
  text-decoration: none;
}

.TWBL.button {
  width: 200px;
  height: 60px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--black, #190828);
  background: var(--White, #fff);
  color: var(--black, #190828);

  /* Button L */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TWBR.button {
  width: 180px;
  height: 54px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--black, #190828);
  background: var(--White, #fff);

  color: var(--black, #190828);

  /* Button R */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TWBS.button {
  width: 130px;
  height: 49px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--black, #190828);
  background: var(--White, #fff);
  color: var(--black, #190828);

  /* Button S */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.TWBLG.button {
  display: flex;
  width: 120px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #000;
  background: var(--White, #fff);

  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.TWBL.button:hover,
.TWBR.button:hover,
.TWBS.button:hover {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #3d2951;
  color: var(--White, #fff);
}

.TWBLG.button:hover {
  border-radius: 10px;
  border: 1px solid #000;
  background: var(--White, #000);
  color: #fff;
}
.TWBLG.button:active,
.TWBL.button:active,
.TWBR.button:active,
.TWBS.nutton:active {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--black, #190828);
  color: var(--White, #fff);
}

.TWBL.button:disabled,
.TWBR.button:disabled,
.TWBS.button:disabled,
.TWBLG.button:disabled {
  border-radius: 5px;
  border: 1px solid var(--gray-lightline, #e4e1e7);
  background: var(--gray-light, #f7f7f9);
}
