.nav {
  display: flex;
  justify-content: space-between; /* 양쪽 배치 */
  align-items: center;
  padding: 15px 15px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 20px;
}

.nav .logo-image {
  height: 30px;
  /* 로고 크기 조정 */
}

.nav-right a {
  margin-left: 20px;
}

.login-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #333;
}
