.section-title1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: -200px;
}

.section-description {
  font-size: 16px;
  color: #6a6a6a;
  margin-bottom: 100px;
}

.score-analysis {
  background-color: #f9f9f9; /* 세 번째 섹션 배경색 */
  height: 70vh; /* 전체 화면 높이 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:200px;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 100px; /* 아이콘 간의 간격 */
  margin-bottom: 50px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-image {
  width: 135px; /* 아이콘 이미지 크기 */
  height: 135px;
  margin-bottom: 10px;
  filter: grayscale(80%); /* 아이콘 회색 처리 */
}

.icon-label {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.score-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 50px;
}

.score-button:hover {
  background-color: #4a4a8a;
}