* {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상을 상속 */
  font-weight: inherit; /* 글자 두께 상속 */
  font-size: inherit;
  margin: 0;
}

p {
  font-family: Pretendard, Arial, sans-serif;
}
