* {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상을 상속 */
  font-weight: inherit; /* 글자 두께 상속 */
  font-size: inherit;
  margin: 0;
  background-color: black;
}

p {
  font-family: Pretendard, Arial, sans-serif;
}

h3 {
  color: var(--White, #fff);
  /* H3 */
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h5 {
  color: var(--White, #fff);
  text-align: center;

  /* Body R(B) */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
