.features {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.feature-item {
  text-align: center;
  width: 120px;
}

.icon {
  width: 160px;
  height: 160px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #4a4a8a;
  transform: translateY(-120px);
  margin-left:-20px;;

}

.feature-item p {
  margin-top: 10px;
  margin-left: 0px;
  font-size: 14px;
  color: #6a6a6a;
  transform: translateY(-120px);
  font-weight:bold;

}